Endpoints uri's are not relative to the server>url 

**Jane version(s) affected**: v7.6.0

**Description**  
All endpoint uri's are generated with `/` prefix (relative to the root), and it breaks OAS3.0 specification 
> All API endpoints are relative to the base URL

![Screenshot 2024-02-29 at 11 39 48](https://github.com/janephp/janephp/assets/5111555/16cc0f89-60d7-4b44-ad0a-b5f3d8fcfc05)

At the end final uri is generated by the [RFC 3986, section 5.2](https://tools.ietf.org/html/rfc3986#section-5.2)

![Screenshot 2024-02-29 at 11 39 24](https://github.com/janephp/janephp/assets/5111555/e1994d98-d200-46e1-9e71-0860622c6fbd)

So it is impossible to have a server.url value with path in it. Only first two options are possible from the example.

Hence by the applying changes, 3rd and 4th option will be possible allowing more flexibility and following the OAS3.0 specification.  
 

**How to reproduce**  
```
openapi: 3.0.1
info:
  title: exmaple
  version: 1.0.0
servers:
  - url: https://server.localhost/api/v3
paths:
  /users:
    get:
      summary: Get users
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              {}          
```

**Possible Solution**  
Trim leading `/` from path value. 
Update Generator class `Jane\Component\OpenApiCommon\Guesser\Guess\OperationGuess` 

```php
$this->path = ltrim($path, '/');
```


**Additional context**  
<!-- Optional: any other context about the problem: log messages, screenshots, etc. -->


fixed by PR #997 